
table{
    background-color:#808080;
    margin: auto;
}
#Result{
    width: 190px;
}
.btn {
    width: 34px;
    height: 32px;
}
#equ{
    width: 34px;
    height: 66px;
}
#zero {
    width: 72px;
    height: 32px;
}